.emoji_preview-name {
    font-size: 2em;
    flex-grow : 1;
    flex-shrink: 0;
    width : unset !important;
}

.emoji_preview-emoji {
    font-size: 5em;
}

.emojipreview__clocknum {
    font-size: 1.5em;

}
#emojipreview {
    font-size: 2em;

}

#picker {
    z-index: 8050;
    position: relative;

}

.emoji-picker__wrapper {
    z-index: 10000;
}

.emoji-picker__plugin-container button {
/*    color: var(--dark-text-color); */
/*    background-color: var(--dark-background-color); */
/* / rgba(0, 0, 0, 0); */
    border: 1px solid;
/*    border-color: var(--dark-border-color); */
}