.flexClock {
    width: 50px;
    left:  70%;
    height: 100%; /*568px; */
    position: absolute;
    z-index: 0;
}

.flexClock--hide{
    display:none;
}

.flexClock--left {
    margin-left: 20%;
}

.flexClock__progress {
    position: absolute
}

.flexClock__progress--drain {
    /*  border: 4px red double;*/
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%; /* 1%; */
    /* background-color: red;*/
    background-color: rgba(0, 0, 0, 1); /* green */
    margin-top: 0;
    opacity: 0.3;
    transform : scale(1) scale(0);
    transform-origin: 0 0;
}

.flexClock__progress--fill {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 0, 0, 1); /* green */
    position: absolute;
    opacity: 0;
    transform-origin: 0 0;
    top: 0;
}
.flexClock__step {
    /*display: flex;*/
    justify-content: center;
    position: absolute;
    width: 100%;
    transform: scaleX(1.5);
}

.flexClock__sub--A .flexClock__step {
    border: rgba(255, 255, 255, .7) dashed;
    border-width: 0 0 3px 0;
    display: flex;
    font-weight: bolder;
    box-sizing: border-box;
}

.flexClock__sub--A .flexClock__step span {
    color : white;
    flex-wrap: wrap;
    align-self: flex-start;

}
.flexClock__span--super {
    font-size: 1.5em;
}

.flexClock__steps {
        width: 100%;
    top : 2px;
    margin-left : 0;
}
.flexClock__sub {
    width : 100%;
}
.flexClock__steps,
.flexClock__sub
{
    position: absolute;
    height: 100%;
    top : 0;
}
.flexClock__slider{
    margin-right : -30px;
    position:relative;
    display: flex;
    transform :  rotateZ(-45deg);
        min-height: max-content;
    min-width: max-content;
    margin-left:24px;
    margin-top : -3.9em
   /* z-index:0; */
}
.flexClock__slider button{
 font-size : 40px !important;
}

.flexClock__slider--left{
   margin-left : -60px;
    margin-right : 0;
    position:relative;
    display: flex;
}

.flexClock__slider__button {
    font-size : 40px !important;
    box-sizing: border-box;
    text-align: center;
    align-self: flex-end;
    border-style: inset;
    border-radius: 0;
    border-width: 4px 20px 20px 4px;
    width: 3em;
    height: 3em;
    background-color : rgba(255,255,255,.1);
    border-bottom-right-radius: 50px;
    border-bottom-color: rgba(255,255,255,.2);
    border-right-color: rgba(255,255,255,.4);
    border-bottom-style: groove;
    border-right-style: ridge;
    margin: 0;
    padding:0 16px 16px 0;
}
.flexClock__slider__button--green {
    background-color: rgba(0, 255, 0, .1) !important;
    border-color: green !important;
}

.flexClock__slider__button--red {
    border-color: red !important;
    background-color: rgba(255,0,0,.1) !important;

}


.flexClock__slider__button span {
    transform: scale(1) rotateZ(-20deg);
    display: block;
    font-size: 1.5em;
    /*
    margin-left: -30px;
    margin-top: -30px;
     */
}

.flexClock__warningArea{
    top : 0 ;
    position: absolute;
    margin-left : -100px;

}

.flexClock__warningArea--left{
    top : 0 ;
    position: absolute;
    margin-left : 100px;
}


.flexClock__slider__button--left2 {
    text-align: left;
    border-radius: 0;
    border-top-left-radius: 20px;
    border-width: 4px 0 0 4px;
    padding-left: 0;
    padding-right: 70px;
    margin-top: auto;
}

.flexClock__slider__button--left{
    transform :rotateY(-180deg) translateX(0) rotateZ(-90deg) ;
    margin : -85px 85px 85px -85px;
}

.flexClock__spotlight {
    border-radius : 100%;
    border: .25rem solid rgba(255,255,255,.8);
    background-color: rgba(0,0,0,.8);
    color : rgba( 255,255,255, .9);
    padding: 0;
    width : 100%;
    height : 100%;
    font-weight: bold;
    position :absolute;
    transform-origin: center;
    overflow:hidden;
    box-sizing: border-box;
    line-height : 0;
    font-size : 4.5em;
    text-align:center;
}
.flexClock__spotlight span {
    margin-left: -100%;
    margin-right: -100%;
    text-align : center;
    vertical-align: bottom;
}

.flexClock__warnWrap{
    position: absolute;
    display : flex;
    justify-content: center;
    align-items: center;
    top:25px;
    left : 0;
    opacity:1;
    width: 3em;
    height: 3em;
    border-radius: 100%;
    box-sizing: border-box;
    background-color : rgba(0,0,0,.04);
    z-index: 24000;
     border: 1px;
    border-style : solid;
    border-color:  rgba(0,0,0,.3);
}

.flexClock__warnWrap--left{
 /* not sure this is even a thing */
}

.flexClock__spotlight--left {
    left: 2em;
}

.flexClock__shadow {
    border-radius : 100%;
    width: 100%;
    height: 100%;
    background-color : rgba( 0,0,0,.3);
    border: .2em solid rgba(255,255,255,0);
    position :absolute;
    transform-origin: center;
    transform: translateY(2px);

}
.flexClock__shadow--left {
  /* left : 2em*/
}

.flexClock__spotlight--hide{
    display: none;
}

.goodBye {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity : 0;
    z-index: 1;
}
.goodBye__wrapper {
    display:block;
    background-color : rgba(150,150,150,0);
    padding : 10px
}

.goodBye__letter {
    color: white;
}
.goodBye__counter {
    color: white;
    opacity: 0;
    border: 0;
    font-weight: normal;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 14px;
    margin: 0;
    text-align: center;
    font-size: .8em;
}

.goodBye__header{
    text-align: center;
    width: 100%;
    margin-left : 20%;
    margin-right: 20%;
}

.goodBye__line {
    width: 100%;
    opacity: 1;
    left: 0;
    height: 3px;
    background-color: #fff;
    transform-origin: 0 0;
}

.goodBye__line--line1 {
    top: 0;
}

.goodBye__line--line2 {
    bottom: 0;
}

