
.everything {
    display: flex;
    align-content: stretch;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    top : 0;
    left: 0;
}

.everything__screen {
    flex: 1;
    min-height: 540px;
    position:relative;
    min-width: 960px;
    box-sizing: border-box;
}

.everything__controls {
        display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.everything__history {
      /*  display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: nowrap;
    align-items: stretch; */
    position: relative;
}



    .everything__top{
        position:relative;
        width:100%;
    }
    .buffer {
        position:absolute;
        height:100%;
        width:100%;
    }