
.everything {
    display: flex;
    align-content: stretch;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    top : 0;
    left: 0;
}

.everything__screen {
    flex: 1;
    min-height: 540px;
    position:relative;
    min-width: 960px;
    box-sizing: border-box;
}

.everything__controls {
        display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.everything__history {
        display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: nowrap;
    align-items: stretch;
    position: relative;
}

.controls{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width:100%
}

.control__left {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: stretch;
    width: 60%;
}

.controls__left {
    flex: 1 1 auto;
}

.controls__right{
    flex : 1 0 0;
}

.controls--btnrow{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.controls--row{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.controls--col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.everything__history button,
.controls__drawing button,
.controls__button {
    font-size: 20px;
    vertical-align: top;
    color: white;
    border-radius: 7px;
       padding: 0;
    /*   dding: 0px 6px 0px 6px ;*/
        width : 1.5em;
        height: 1.5em;
      /*  margin: 6px 0px 0px 0px;*/


        /* margin:0px */
    }
.controls__drawing button ,
.controls__button {
    border: 1px dashed white;
    background: rgba(255, 255, 255, .1);
}

 .controls__button--pressed {
      appearance: none;
    background-color: lightgrey;
 }

.everything__history button {

        border: none;
        cursor: pointer;
      /*  padding: 0;
        width: 1.5em;
        height: 1.5em;
        font-size : 32px;*/
    }

.highlight button {
    border: 2px dashed white;
}


.web__draggable--hide{
    display:none
}
.web__cob {
font-size: 25em;
    position: absolute;
    font-weight: bolder;
    top: 0;
    left: 0;
    text-align: left;
    margin-left: -250px;
    margin-top: -250px;
    color: whitesmoke;
    height : 25rem;
    width: 25rem;
    overflow: visible;
}

.web__spider__wheel {
        position: absolute;
    top: 40px;
    left: 30px;
    /* width: 600px; */
    display: flex;
    height: 100%;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    transform-origin: left;
    /* transform: rotate(90deg); */
    flex-direction: row;
    flex-wrap: nowrap;
}

.web__thread{
    width: 10px; /* changing width */
    border-top :1px solid black;
    border-bottom :1px solid white;
    flex: 1;
    flex-grow: 3;
}

.web__spider{
    top: 0;
    transform: rotateZ(45deg);
    margin-left:-20px;
    font-size: 5rem;
    flex: auto;
    transform-origin: center;
    flex-shrink: 0;
}

.web__draggable{
    position:absolute;
    left : 250px;
    top: 200px;
    opacity : 0;
    width : 5rem;
    height : 5rem;
}

.web__relative{
top : 0;
    position:relative;
left : 0;

}

    #history {
        top: 0;
        left: 0;
        z-index: 8000; /**/
        position: absolute
    }

    .highlight {
        /* text-decoration: underline solid red ; */
        opacity: 1.0 !important;
        font-size: 2rem !important;
        border: 2px dashed white;
    }

    .everything__top{
        position:relative;
        width:100%;
    }
    .buffer {
        position:absolute;
        height:100%;
        width:100%;
    }