
.everything {
    display: flex;
    align-content: stretch;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    top : 0;
    left: 0;
}

.everything__screen {
    flex: 1;
    min-height: 540px;
    position:relative;
    min-width: 960px;
    box-sizing: border-box;
}

.everything__controls {
        display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.everything__history {
      /*  display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: nowrap;
    align-items: stretch; */
    position: relative;
}




    #letters {
        display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: flex-start;
    align-items: flex-start;
    }

    .highlight span{
      margin-left: -100px;
        margin-right: -100px;
        font-size: 2rem;
        vertical-align: text-top;
        line-height: 1px;
    }

    .letters > .highlight{
        font-size: 2rem !important;
        line-height: 0;
        position: relative;
        padding : 0 25px 0 25px;
        overflow : visible;
    }

    .everything__top{
        position:relative;
        width:100%;
    }
    .buffer {
        position:absolute;
        height:100%;
        width:100%;
    }